# Python Virtual Environment
venv/
env/
__pycache__/
*.pyc

# Environment Variables
.env

# Vector Database (Committing because it's only 3MB and Railway needs it)
# data/vector_db/

# IDE files
.vscode/
.idea/

# Note: data/warehouse/ajio_warehouse.db is EXPLICITLY NOT IGNORED 
# because Railway requires it to serve the pre-calculated API data.
